.checkbox{
	margin: auto;
	padding: auto;
}

.imagen-articulo{
	margin-left: auto;
	width: 100px;
	height: 80px;
}

.tachado{
    text-decoration: line-through;
}

.jumbo-img{
    width: "1000px";
    height: "700px";
}